@if (!appService.$state.isAppInit()) {
<div class="h-full flex align-content-center justify-content-center flex-wrap">
    <div class="flex align-items-center justify-content-center">
        @if (!appService.$state.doesInitialUserExist()) {
        <app-register-user (registedUserEvent)="registeredUserEvent()" />
        } @else {
        <app-login />
        }
    </div>
</div>
} @else {
<app-navbar (toggleSideNavEmitter)="handleToggleSideNav()"></app-navbar>
<mat-sidenav-container class="h-full">
    <mat-sidenav #sidenav>
        <app-side-bar-nav-list></app-side-bar-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="overflow-hidden">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
}